.flashcardlist-overview {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  overflow: auto;
  max-height: 1000px;
}

.flashcardlist {
  max-width: 250px;
  width: 250px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 10px;
}

a {
  text-decoration: none;
}
.listname {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
  color: blue;

}
