.flashcardlist-overview {
  display: flex;
  flex-direction: column;
}

.flashcardlist {
  max-width: 250px;
  width: 250px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 10px;
}

.listname {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}

.listdescription {
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
}