.container {
  min-width: 600px;
  width: 600px;
}

.addlistbutton {
  margin-top: 50px;
  margin-bottom: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 250px;
  width: 250px;
}

.listnameinput {
  margin-bottom: 20px;
}

.listdescriptioninput {
  margin-bottom: 20px;
}

.managebuttons {
  display: flex;
  margin-bottom: 50px;
}
.managebuttons button {
  width: 100px;
  margin-right: 50px;
}
