<div class="selectlistandviewflashcards">
  <div class="select">
    <h4>Select a flashcardlist</h4>
    <select [(ngModel)]="selectedFlashcardlistIndex">
      <option [value]="null">Select a flashcardlist</option>
      <option
        *ngFor="let flashcardlistEl of flashcardlists; let i = index"
        [value]="i"
      >
        {{ flashcardlistEl.listName }}
      </option>
    </select>
    <app-flashcard-add (flashcardAdded)="onFlashcardAdded($event)"></app-flashcard-add>
  </div>
  <div *ngIf="selectedFlashcardlist" class="listandbox">
    <div class="selectedlist">
      <h4>{{selectedFlashcardlist.listName}}</h4>
      <p>{{selectedFlashcardlist.listDescription}}</p>
    </div>
    <div class="flashcard-box">
      <app-flashcard-display-item
      *ngFor="let flashcardEl of selectedFlashcardlist.flashcards"
      [flashcard]="flashcardEl"></app-flashcard-display-item>
    </div>
  </div>
</div>
