<div class="selectlistandviewflashcards">
  <div>
    <p>Select a flashcardlist</p>
    <select [(ngModel)]="selectedFlashcardlistIndex">
      <option [value]="null">Select a flashcardlist</option>
      <option
        *ngFor="let flashcardlistEl of flashcardlists; let i = index"
        [value]="i"
      >
        {{ flashcardlistEl.listName }}
      </option>
    </select>
  </div>
  <div *ngIf="selectedFlashcardlist">
    <p>{{ selectedFlashcardlist.listName }}</p>
    <p>{{ selectedFlashcardlist.listDescription }}</p>
  </div>
</div>
