<br />
<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Flashcardlist</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-12">
    <a
      href="#"
      class="list-group-item"
      *ngFor="let flashcardlist of flashcardlists"
    >
      <div class="float-start">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{ flashcardlist.listName }}</h4>
          </div>
        </div>
      </div>
    </a>
  </div>
  <app-flashcard-list-item></app-flashcard-list-item>
</div>
