  <!-- Row for flashcardlists and 'Manage Flashcardlist' buttons -->
  <div class="row">
    <div class="col-12">
      <div>


          <!-- 'Manage Flashcardlist' button next to each rendered flashcardlist -->
          <div class="float-end">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Flashcardlist
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Edit Flashcardlist</a>
                </li>
                <li>
                  <a href="#">Delete Flashcardlist</a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
</div>