<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-flashcards *ngIf="loadedFeature === 'flashcards'"></app-flashcards>
      <app-rehearse *ngIf = "loadedFeature === 'rehearse'"></app-rehearse>
    </div>
  </div>
</div>

<!--

  Planning the app:

    #1:

  Header, consists of:

    * 

  #2:

    Feature: "Flashcards Component", consists of:

    * Flashcards:
      This component displays the flashcard-lists and flashcard components;

        * Flashcard;
          This component will display a single flashcard at a time;
          It will have fields for the front of the card and an input field for the user to enter the answer from the back;
          Buttons to submit the answer and move to the next card or reset the card if the answer is incorrect;

        * Flashcard-display;
          This component will display the flashcards based on the spaced repetition algorithm.
          It will handle the logic for when to show each flashcard and manage repetitions and intervals.


  #3:

  Feature: "Flashcard List Overview Component",

  Components:

    * Flashcard-list-overview;
      This component displays the flashcard-lists and flashcard-list-detail components;

        * Flashcard-lists;
          This is a component that displays each list of flashcards;

              Flashcard-list-item;
              This is a component that displays a single flashcard list;

        * Flashcard-list-detail;
          This component provides the details of the currently selected flashcard list;
          You can also show the statistics related to the flashcards, such as the number of repetitions and the interval;

        * Flashcard-list-edit;
          This component will allow users to create and manage lists of flashcards.
          Users can add, edit, or delete flashcards within a list.

  Classes:

    Flashcard;
      This class provides the model underlying each individual flashcard, including:
        - ID
        - Front (the question)
        - Back (the answer)
        - Number of repetitions
        - Interval
        - List ID (the list the flashcard belongs to)

    Flashcard-list;
      This class provides the model underlying each list of flashcards, including:
        - List ID
        - List Name
        - List Description
        - An array of flashcards (flashcard IDs)


  Services:

    Flashcard Service:
      This service will provide the methods to manage the flashcards;
      It will provide methods to:
        - Get all flashcards
        - Get a single flashcard
        - Add a flashcard
        - Edit a flashcard
        - Delete a flashcard

      It should also include methods for updating repetitions and intervals based on the spaced repetition algorithm.

    Flashcard List Service:
      This service will provide the methods to manage the flashcard lists;
      It will provide methods to:
        - Get all flashcard lists
        - Get a single flashcard list
        - Add a flashcard list
        - Edit a flashcard list
        - Delete a flashcard list

 -->
